<h1> About Page </h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/HondaS2000-004.jpg" height=400px width=500px>
<p>
  <ul>
  <li> Name: Chris Truong </l1>
  <li> Hometown: Vancouver </li>
  <li> Favourite Food: Pho </li>
  </ul>
</p>
